.container-table{
    height: calc(100vh - 60px);
    padding-left: 20px;
}
.table-responsive{
    padding: 0;
}
.list-group-item span{
    position: absolute;
    right: 20px;
}
.output-box{
    min-height: 100%;
    max-height: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
    .shoppingcar{
        overflow-y: scroll; 
        padding-top: 30px;
    }
    .output-heading{
        position: absolute; 
        z-index: 2; 
        background: white;     
        width: 100%;
        left: 0;
        top: 0;
        padding: 20px;
        height: 60px;
    }
}
